{% extends 'base.html' %}
{% block page_content %}

<section class="editPage">
    <form method="POST" action="{% url 'delete album' album.id %}">
        <fieldset>
            <legend>Delete Album</legend>
            <div class="container">
                {% csrf_token %}
                {{ form }}
                <!-- Button for Deleting an Album -->
                <button class="delete-album" type="submit">Delete Album</button>
            </div>
        </fieldset>
    </form>
</section>
{% endblock %}